<?xml version="1.0"?>
<Presets>
	<Confocal>
		<threshold>170</threshold>
		<gauss_blur>3</gauss_blur>
		<binary_open_iterations>1</binary_open_iterations>
		<binary_close_iterations>1</binary_close_iterations>
		<dilation_iterations>15</dilation_iterations>
		<area_cutoff>3000</area_cutoff>
		<perimeter_cutoff>350</perimeter_cutoff>
		<structuring_element>[[1,1,1],[1,1,1],[1,1,1]]</structuring_element>
	</Confocal>
	<Confocal_Avg>
		<threshold>mean</threshold>
		<gauss_blur>3</gauss_blur>
		<binary_open_iterations>1</binary_open_iterations>
		<binary_close_iterations>1</binary_close_iterations>
		<dilation_iterations>15</dilation_iterations>
		<area_cutoff>3000</area_cutoff>
		<perimeter_cutoff>350</perimeter_cutoff>
		<structuring_element>[[1,1,1],[1,1,1],[1,1,1]]</structuring_element>
	</Confocal_Avg>
	<Bright_Field>
		<threshold>70</threshold>
		<gauss_blur>4</gauss_blur>
		<binary_open_iterations>4</binary_open_iterations>
		<binary_close_iterations>4</binary_close_iterations>
		<dilation_iterations>15</dilation_iterations>
		<area_cutoff>3000</area_cutoff>
		<perimeter_cutoff>350</perimeter_cutoff>
		<structuring_element>[[1,1,1],[1,1,1],[1,1,1]]</structuring_element>
	</Bright_Field>
	<Dark_Field>
		<threshold>30</threshold>
		<gauss_blur>2</gauss_blur>
		<binary_open_iterations>4</binary_open_iterations>
		<binary_close_iterations>4</binary_close_iterations>
		<dilation_iterations>15</dilation_iterations>
		<area_cutoff>3000</area_cutoff>
		<perimeter_cutoff>350</perimeter_cutoff>
		<structuring_element>[[1,1,1],[1,1,1],[1,1,1]]</structuring_element>
	</Dark_Field>
	<Cell_Culture>
		<threshold>30</threshold>
		<gauss_blur>2</gauss_blur>
		<binary_open_iterations>3</binary_open_iterations>
		<binary_close_iterations>3</binary_close_iterations>
		<dilation_iterations>15</dilation_iterations>
		<area_cutoff>3000</area_cutoff>
		<perimeter_cutoff>350</perimeter_cutoff>
		<structuring_element>[[1,1,1],[1,1,1],[1,1,1]]</structuring_element>
	</Cell_Culture>
</Presets>
